
<div style="width: 100%; max-width: 60%" class="container">
    <div class="row align-items-end">
        <div style="text-align: right" class="col-8 my-auto">
            <a href="https://www.eurobin-project.eu/">
                <img width="500px" src="/assets/img/eurobin_logo.png" alt="eurobin"/>
            </a>
        </div>
        <div style="margin-left: 10px; margin-right: 10px" class="col-0 ">
            <a href="https://www.linkedin.com/company/eurobin-project" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div style="margin-left: 10px; margin-right: 10px" class="col-0">
            <a href="https://twitter.com/euROBIN_project" title="X"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <div style="margin-left: 10px; margin-right: 10px" class="col-0">
            <a href="https://www.eurobin-project.eu/" title="Link"><i class="fa-solid fa-link"></i></a>
        </div>
    </div>
    <div style="font-size: 23px" class="row">
        <div class="col-12 align-items-center">
            First EU network of excellence for AI powered robots to learn to perform tasks in human environments.
        </div>
    </div>
    <div style="margin-top: 30px; margin-bottom: 100px" class="row">
        <div class="col my-auto">
            <a href="https://hhcm.iit.it/">
                <img width="200px" src="/assets/img/iit-hhcm-logo.png" alt="iit-hhcm"/>
            </a>
        </div>
        <div class="col my-auto">
            <a href="https://www.inria.fr/en">
                <img width="250px" src="/assets/img/inria_logo.png" alt="inria"/>
            </a>
        </div>
        <div class="col my-auto">
            <a href="https://www.utexas.edu/">
                <img width="300px" src="/assets/img/ut-logo.png" alt="ut-hhcm"/>
            </a>
        </div>
        <div class="col my-auto">
            <a href="https://www.hw.ac.uk/ ">
                <img width="250px" src="/assets/img/hw-logo.png" alt="hw-hhcm"/>
            </a>
        </div>
    </div>
</div>

