<style> 

    :root {
        --vertical-pudding: 100px;
    }

    .title-section {
        background-color: grey; /* Green background color */
        color: #ffffff; /* Text color on top of the background */
        padding-top: var(--vertical-pudding); 
        padding-bottom: var(--vertical-pudding);
    }
    .title-section h1 {  
        margin-left: 10%;  
        margin-right: 10%;  
        color: orange    
    }

    .title-section h2 {
        margin-left: 10%;
        margin-right: 10%;  
        color: white;
        font-weight: bold;
    }

    .title-section p {
        margin-top: 0px;
        margin-left: 10%;
        color: white;
        font-size: 20px
    }
</style>

<div class="title-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>WORKSHOP</h1>
                <h2>{{ site.title }}</h2>
                <p>2nd Edition</p>
            </div>
            <div class="col">
                
            </div>
        </div>
    </div>
</div>