---
layout: "default"
---

<script>
    function togglePDF(id) {
        var text = document.getElementById(id);
        if (text.style.display === "none") {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
}
</script>

<h2 class="fancy-heading">PAPERS</h2>


{% for paper in page.papers %}
<li style="margin-left: 20%; margin-right: 20%"">
    <div class="container">
        <div class="col">
            <div class="row">
                <h1> {{ paper.title }} </h1> 
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <h2> {{ paper.authors }} </h2>
            </div>
            <div class="row" style="margin-bottom: 20px;">
            <button style="background-color: var(--global-theme-color); color: rgb(255, 255, 255)"
                    type="button" 
                    class="btn collapsed" 
                    onclick="togglePDF('{{ paper.filename }}')"
                    aria-expanded="false">Paper</button> 
            </div>           
        </div>
        <div id="{{ paper.filename }}" style="display: none; margin-bottom: 50px">
            <iframe src="/assets/pdf/{{ paper.filename }}" height="1000" width="100%"></iframe>
        </div>
    </div>
</li>
{% endfor%}

</div>

